# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_whitespace = true

[*.{js,json}]
indent_size = 2

[*.{css,less,mustache}]
tab_width = 4
indent_size = 4
indent_style = tab
